.header__nav-btn {
    justify-self: end;
    background-color: transparent;
    border: none;
    padding: 0 15px;
    &:hover {
        background: $gray_separator;
        border-radius: 8px;
    }
}
@media screen and (min-width: 700px) {
    .header__nav-btn {
        display: none;
    }
}
